@font-face {
  font-family: 'RiiqoSystem';
  src:  url('./fonts/RiiqoSystem.eot?fcpdbg');
  src:  url('./fonts/RiiqoSystem.eot?fcpdbg#iefix') format('embedded-opentype'),
    url('./fonts/RiiqoSystem.ttf?fcpdbg') format('truetype'),
    url('./fonts/RiiqoSystem.woff?fcpdbg') format('woff'),
    url('./fonts/RiiqoSystem.svg?fcpdbg#RiiqoSystem') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="_"], [class*=" _"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'RiiqoSystem' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._Map_Status:before {
  content: "\e9fa";
}
._Att_Calc:before {
  content: "\e9f0";
}
._Att_Counter:before {
  content: "\e9f1";
}
._Att_Date:before {
  content: "\e9f2";
}
._Att_Dollar:before {
  content: "\e9f3";
}
._Att_DropDown:before {
  content: "\e9f4";
}
._Att_Location:before {
  content: "\e9f5";
}
._Att_Number:before {
  content: "\e9f6";
}
._Att_Payment:before {
  content: "\e9f7";
}
._Att_Review:before {
  content: "\e9f8";
}
._Att_Text:before {
  content: "\e9f9";
}
._Inter_Pause:before {
  content: "\e900";
}
._Inter_Emoji:before {
  content: "\e901";
}
._Inter_Add_Automation:before {
  content: "\e902";
}
._Inter_AddCampaign:before {
  content: "\e903";
}
._Inter_AddPhones:before {
  content: "\e904";
}
._Inter_AddTextBlast:before {
  content: "\e905";
}
._Inter_Ads:before {
  content: "\e906";
}
._Inter_AlertBadge:before {
  content: "\e907";
}
._Inter_All:before {
  content: "\e908";
}
._Inter_Analytics:before {
  content: "\e909";
}
._Inter_Attach:before {
  content: "\e90a";
}
._Inter_Campaign:before {
  content: "\e90b";
}
._Inter_CardDesign:before {
  content: "\e90c";
}
._Inter_Chat_Filled:before {
  content: "\e90d";
}
._Inter_Chat:before {
  content: "\e90e";
}
._Inter_Credit:before {
  content: "\e90f";
}
._Inter_Customer_Add:before {
  content: "\e910";
}
._Inter_Customer_Filled:before {
  content: "\e911";
}
._Inter_DefaultView:before {
  content: "\e912";
}
._Inter_Delete_Filled:before {
  content: "\e913";
}
._Inter_Delete:before {
  content: "\e914";
}
._Inter_Duplicate:before {
  content: "\e915";
}
._Inter_Edit:before {
  content: "\e916";
}
._Inter_Email_Filled:before {
  content: "\e917";
}
._Inter_Email:before {
  content: "\e918";
}
._Inter_Employee_Filled:before {
  content: "\e919";
}
._Inter_Export:before {
  content: "\e91a";
}
._Inter_Facebook_Circle:before {
  content: "\e91b";
}
._Inter_Facebook:before {
  content: "\e91c";
}
._Inter_Forward:before {
  content: "\e91d";
}
._Inter_Fox_Filled:before {
  content: "\e91e";
}
._Inter_Minimize_Filled:before {
  content: "\e91f";
}
._Inter_Fox_Outlined:before {
  content: "\e920";
}
._Inter_HangUp:before {
  content: "\e921";
}
._Inter_Heart_Filled:before {
  content: "\e922";
}
._Inter_Help:before {
  content: "\e923";
}
._Inter_Hide:before {
  content: "\e924";
}
._Inter_History:before {
  content: "\e925";
}
._Inter_Image_Small:before {
  content: "\e926";
}
._Inter_Image:before {
  content: "\e927";
}
._Inter_Import:before {
  content: "\e928";
}
._Inter_IncomingCall:before {
  content: "\e929";
}
._Inter_Instagram_Circle:before {
  content: "\e92a";
}
._Inter_Instagram:before {
  content: "\e92b";
}
._Inter_Keypad:before {
  content: "\e92c";
}
._Inter_LeftMenu:before {
  content: "\e92d";
}
._Inter_LinesCredits:before {
  content: "\e92e";
}
._Inter_Linkedin_Circle:before {
  content: "\e92f";
}
._Inter_Linkedin:before {
  content: "\e930";
}
._Inter_List:before {
  content: "\e931";
}
._Inter_Microphone_Outlined:before {
  content: "\e932";
}
._Inter_Microphone:before {
  content: "\e933";
}
._Inter_Minutes:before {
  content: "\e934";
}
._Inter_New:before {
  content: "\e935";
}
._Inter_NewBadge:before {
  content: "\e936";
}
._Inter_OutgoingCall:before {
  content: "\e937";
}
._Inter_Paperclip:before {
  content: "\e938";
}
._Inter_Phone_Filled:before {
  content: "\e939";
}
._Inter_Phone:before {
  content: "\e93a";
}
._Inter_Pinterest_Circle:before {
  content: "\e93b";
}
._Inter_Pinterest:before {
  content: "\e93c";
}
._Inter_Play:before {
  content: "\e93d";
}
._Inter_Refresh:before {
  content: "\e93e";
}
._Inter_Reports:before {
  content: "\e93f";
}
._Inter_Reviews:before {
  content: "\e940";
}
._Inter_Schedule:before {
  content: "\e941";
}
._Inter_Send_Filled:before {
  content: "\e942";
}
._Inter_Send_Outline:before {
  content: "\e943";
}
._Inter_SendInfo:before {
  content: "\e944";
}
._Inter_Settings_Filled:before {
  content: "\e945";
}
._Inter_Settings:before {
  content: "\e946";
}
._Inter_Show:before {
  content: "\e947";
}
._Inter_Social_Filled:before {
  content: "\e948";
}
._Inter_Social_Image:before {
  content: "\e949";
}
._Inter_Social_Poll:before {
  content: "\e94a";
}
._Inter_Social_Schedule:before {
  content: "\e94b";
}
._Inter_Social_Storage:before {
  content: "\e94c";
}
._Inter_SocialMedia_Small:before {
  content: "\e94d";
}
._Inter_SocialMedia:before {
  content: "\e94e";
}
._Inter_Sorting:before {
  content: "\e94f";
}
._Inter_Text_Filled:before {
  content: "\e950";
}
._Inter_Text:before {
  content: "\e951";
}
._Inter_TurnOffNotifications:before {
  content: "\e952";
}
._Inter_Twitter_Circle:before {
  content: "\e953";
}
._Inter_Twitter:before {
  content: "\e954";
}
._Inter_Typing-Bubble:before {
  content: "\e955";
}
._Inter_VideoCall:before {
  content: "\e956";
}
._Inter_Vimeo_Circle:before {
  content: "\e957";
}
._Inter_Vimeo:before {
  content: "\e958";
}
._Inter_Voicemail:before {
  content: "\e959";
}
._Inter_Warning_Outlined:before {
  content: "\e95a";
}
._Inter_YouTube_Circle:before {
  content: "\e95b";
}
._Inter_YouTube:before {
  content: "\e95c";
}
._Inter_Backspace:before {
  content: "\e95d";
}
._Syst_Add:before {
  content: "\e95e";
}
._Syst_AddCircle_Filled:before {
  content: "\e95f";
}
._Syst_AddCircle:before {
  content: "\e960";
}
._Syst_Attributes:before {
  content: "\e961";
}
._Syst_Checkmark:before {
  content: "\e962";
}
._Syst_Close:before {
  content: "\e963";
}
._Syst_DownArrow:before {
  content: "\e964";
}
._Syst_View:before {
  content: "\e965";
}
._Syst_LeftArrow:before {
  content: "\e966";
}
._Syst_Long_LeftArrow:before {
  content: "\e967";
}
._Syst_New:before {
  content: "\e968";
}
._Syst_Notification:before {
  content: "\e969";
}
._Syst_RightArrow:before {
  content: "\e96a";
}
._Syst_Search:before {
  content: "\e96b";
}
._Syst_Short_LeftArrow:before {
  content: "\e96c";
}
._Syst_Short_RightArrow:before {
  content: "\e96d";
}
._Syst_UpArrow:before {
  content: "\e96e";
}
._Set_Add:before {
  content: "\e96f";
}
._Set_Credits:before {
  content: "\e970";
}
._Set_Delete:before {
  content: "\e971";
}
._Set_DragReorder:before {
  content: "\e972";
}
._Set_Edit:before {
  content: "\e973";
}
._Set_Lines:before {
  content: "\e974";
}
._uniE975:before {
  content: "\e975";
}
._uniE976:before {
  content: "\e976";
}
._uniE977:before {
  content: "\e977";
}
._uniE978:before {
  content: "\e978";
}
._uniE979:before {
  content: "\e979";
}
._Set_Minus:before {
  content: "\e97a";
}
._CRM_Alert:before {
  content: "\e97b";
}
._Set_NotificationsOn:before {
  content: "\e97c";
}
._Set_Options:before {
  content: "\e97d";
}
._Set_Pause:before {
  content: "\e97e";
}
._Set_PaymentInfo:before {
  content: "\e97f";
}
._Set_PersonalInfo:before {
  content: "\e980";
}
._Set_Play:before {
  content: "\e981";
}
._Set_Preferences:before {
  content: "\e982";
}
._Set_Search:before {
  content: "\e983";
}
._Set_TransactionHistory:before {
  content: "\e984";
}
._Set_UsernamePassword:before {
  content: "\e985";
}
._Set_Users:before {
  content: "\e986";
}
._Set_Voicemail:before {
  content: "\e987";
}
._Cust_Affiliate:before {
  content: "\e988";
}
._Cust_Analytics_Filled:before {
  content: "\e989";
}
._Cust_Analytics:before {
  content: "\e98a";
}
._Cust_Attributes:before {
  content: "\e98b";
}
._Cust_Calendar:before {
  content: "\e98c";
}
._Cust_Circle:before {
  content: "\e98d";
}
._Cust_Customers_Filled:before {
  content: "\e98e";
}
._Cust_Customers:before {
  content: "\e98f";
}
._Cust_CustomerSorting:before {
  content: "\e990";
}
._Cust_Delete:before {
  content: "\e991";
}
._Cust_Discount_Filled:before {
  content: "\e992";
}
._Cust_Discount:before {
  content: "\e993";
}
._Cust_Help_Filled:before {
  content: "\e994";
}
._Cust_Help:before {
  content: "\e995";
}
._Cust_Hide:before {
  content: "\e996";
}
._Cust_History_Filled:before {
  content: "\e997";
}
._Cust_History:before {
  content: "\e998";
}
._Cust_Map_Filled:before {
  content: "\e999";
}
._Cust_Map:before {
  content: "\e99a";
}
._Cust_Milestones_Filled:before {
  content: "\e99b";
}
._Cust_Milestones:before {
  content: "\e99c";
}
._Cust_NameView:before {
  content: "\e99d";
}
._Cust_Phone_Filled:before {
  content: "\e99e";
}
._Cust_Reports_Filled:before {
  content: "\e99f";
}
._Cust_Reports:before {
  content: "\e9a0";
}
._Cust_Schedule:before {
  content: "\e9a1";
}
._Cust_Settings_Filled:before {
  content: "\e9a2";
}
._Cust_Settings:before {
  content: "\e9a3";
}
._Cust_Shipping_Outline:before {
  content: "\e9a4";
}
._Cust_Sorting:before {
  content: "\e9a5";
}
._Cust_Square:before {
  content: "\e9a6";
}
._Cust_Text_Filled:before {
  content: "\e9a7";
}
._Cust_View:before {
  content: "\e9a8";
}
._Inter_FailedMessage:before {
  content: "\e9a9";
}
._Inter_OptOut:before {
  content: "\e9aa";
}
._Syst_HamburgerMenu:before {
  content: "\e9ab";
}
._Syst_Search_Left:before {
  content: "\e9ac";
}
._Inter_Assign_Outlined:before {
  content: "\e9ad";
}
._Inter_Transfer_Filled:before {
  content: "\e9ae";
}
._Inter_Globe_Outlined:before {
  content: "\e9af";
}
._Inter_Close_Outlined:before {
  content: "\e9b0";
}
._Inter_CompleteCircle_Filled:before {
  content: "\e9b1";
}
._Inter_CompleteCircle_Outlined:before {
  content: "\e9b2";
}
._Inter_Selected_FIlled:before {
  content: "\e9b3";
}
._Inter_Unselected:before {
  content: "\e9b4";
}
._Inter_CallInProgress_Filled:before {
  content: "\e9b5";
}
._Inter_Play_Filled:before {
  content: "\e9b6";
}
._uniE9B7:before {
  content: "\e9b7";
}
._uniE9B8:before {
  content: "\e9b8";
}
._uniE9B9:before {
  content: "\e9b9";
}
._uniE9BA:before {
  content: "\e9ba";
}
._uniE9BB:before {
  content: "\e9bb";
}
._uniE9BC:before {
  content: "\e9bc";
}
._uniE9BD:before {
  content: "\e9bd";
}
._Inter_Feed:before {
  content: "\e9be";
}
._Inter_Archive_Filled:before {
  content: "\e9bf";
}
._Inter_Comments_Filled:before {
  content: "\e9c0";
}
._Inter_Comments_Outlined:before {
  content: "\e9c1";
}
._Inter_FacebookComment_Outlined:before {
  content: "\e9c2";
}
._Inter_FacebookLike_Outlined:before {
  content: "\e9c3";
}
._Inter_FacebookShare_Outlined:before {
  content: "\e9c4";
}
._Inter_Feed_Filled:before {
  content: "\e9c5";
}
._Inter_Filter_Filled:before {
  content: "\e9c6";
}
._Inter_Funnel_Filled:before {
  content: "\e9c7";
}
._Inter_Funnel_Outlined:before {
  content: "\e9c8";
}
._Inter_InstagramComment_Outlined:before {
  content: "\e9c9";
}
._Inter_InstagramLike_Outlined:before {
  content: "\e9ca";
}
._Inter_InstagramShare_Outlined:before {
  content: "\e9cb";
}
._Inter_Mentions_Filled:before {
  content: "\e9cc";
}
._Inter_TwitterComment_Outlined:before {
  content: "\e9cd";
}
._Inter_TwitterLike_Outlined:before {
  content: "\e9ce";
}
._Inter_TwitterRetweet_Outlined:before {
  content: "\e9cf";
}
._Inter_Unarchive_Filled:before {
  content: "\e9d0";
}
._Inter_YouTubeLike_Outlined:before {
  content: "\e9d1";
}
._Inter_YouTubeShare_Outlined:before {
  content: "\e9d2";
}
._RSM_Divvy_Filled:before {
  content: "\e9d3";
}
._RSM_Google_Filled:before {
  content: "\e9d4";
}
._RSM_PayPal_Filled:before {
  content: "\e9d5";
}
._RSM_Quickbooks_Filled:before {
  content: "\e9d6";
}
._RSM_Square_Filled:before {
  content: "\e9d7";
}
._RSM_Stripe_Filled:before {
  content: "\e9d8";
}
._Inter_LinkedInComment_Outlined:before {
  content: "\e9d9";
}
._Inter_LinkedInLike_Outlined:before {
  content: "\e9da";
}
._Inter_LinkedInShare_Outlined:before {
  content: "\e9db";
}
._Inter_Hide_Outlined:before {
  content: "\e9dc";
}
._CRM_Invite:before {
  content: "\e9dd";
}
._CRM_Notes:before {
  content: "\e9de";
}
._CRM_Repeat:before {
  content: "\e9df";
}
._CRM_Straight:before {
  content: "\e9e0";
}
._CRM_TurnLeft:before {
  content: "\e9e1";
}
._CRM_TurnRight:before {
  content: "\e9e2";
}
._Inter_OpenMaps:before {
  content: "\e9e3";
}
._Inter_Print:before {
  content: "\e9e4";
}
._CRM_Business:before {
  content: "\e9e5";
}
._Location:before {
  content: "\e9e6";
}
._Bitcoin:before {
  content: "\e9e7";
}
._CAD:before {
  content: "\e9e8";
}
._Ethereum:before {
  content: "\e9e9";
}
._Euro:before {
  content: "\e9ea";
}
._Franc:before {
  content: "\e9eb";
}
._Pound:before {
  content: "\e9ec";
}
._Yen:before {
  content: "\e9ed";
}
._Next:before {
  content: "\e9ee";
}
._Previous:before {
  content: "\e9ef";
}
